.containerCard {
  min-height: 80vh;

  width: 95%;
  max-width: 1200px;

  margin: auto;
}

.containerCard h2 {
  font-size: 2rem;
  color: white;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 20px;
}

.buttonCar {
  background: black;
  color: white;

  font-size: 2rem;

  padding: 15px;

  text-decoration: none;
}

.page {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
}

.containerOrders {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  gap: 5px;
}

.containerTotal {
  grid-column: span 1;

  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.buttonBuy {
  width: 100%;

  color: white;
  background: rgba(0, 0, 0);

  border: none;
  margin: auto;
  padding: 10px;

  font-size: 2rem;
}

.modal {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);

  display: flex;

  z-index: 100;
}

@media (max-width: 425px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}
