.containerCardBlogRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 5px;
  border: 5px solid white;
  background: white;

  grid-column: span 2;
}

.isRow {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  gap: 5px;
}

.img {
  width: 100%;
  height: auto;
}

.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1.4rem;
  color: gray;
}
