.containerSearch,
.containerTitle {
  width: 90%;
  max-width: 1000px;

  margin: 20px auto;
}

.search {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 1.6rem;
  margin: 5px 0;
}

.containerTitle h1 {
  font-size: 2.4rem;
}

.buttonNormal {
  cursor: pointer;

  border: none;
  padding: 10px 20px;
  font-size: 1.6rem;
  background: black;
  color: white;
  margin-right: 10px;

  transition: all 0.3s;
}

.buttonNormal:hover {
  background: rgba(0, 0, 0, 0.5);
}
