.dashBoard {
  display: flex;

  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  height: auto;

  padding: 0;

  gap: 1px;
}

.dashBoard li {
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  list-style: none;

  font-size: 1.6rem;
  background: whitesmoke;
}
