.containerProduct {
  width: 100%;
  height: 90vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.pictureLeft {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;

  position: relative;

  aspect-ratio: 0.5;
}

.imgLeft {
  width: 100%;
  height: auto;
  position: absolute;
}

.containerProductRight {
  height: 8cap;
  width: 100%;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pictureRight {
  width: 100%;
  max-width: 500px;

  aspect-ratio: 1.5;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgRight {
  width: 100%;
  height: auto;
  position: absolute;
}

.title {
  font-size: 4rem;
  color: red;
  margin: 0;
}

.subTitle {
  font-size: 1.4rem;
}

.button {
  width: 90%;
  height: auto;
  padding: 10px;
  margin: auto 0 0 0;
  border: none;

  font-size: 1.6rem;
  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.button:hover {
  background: gold;
}
