.navbar {
  display: flex;

  justify-content: space-around;
}

.title {
  font-size: 1.8rem;
}

.leftContainer {
  display: flex;
  padding: 0;
}

.listLink {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.link {
  color: rgba(255, 255, 255);
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
}

.link:hover {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
